.container {
  max-width: 1460px;
  width: 100%;
  margin: auto;
}
.content-container {
  margin-top: 398px;
  display: flex;
  justify-content: space-between;
}
.text-container {
  max-width: 463px;
  width: 100%;
  vertical-align: top;
}
.text-container a {
  text-decoration: none;
  color: #0a22f4;
  font-weight: 500;
}
.text-container,
.text-container h2,
.text-container p {
  display: inline-block;
}
.img-container {
  margin-top: 138px;
  display: inline-block;
}
section div h2 {
  padding-bottom: 60px;
}
.content-container img {
  display: inline-block;
  max-width: 707px;
  width: 100%;
  border: 10px solid #0a22f4;
  border-left: 0px;
  border-top: 0px;
  border-radius: 20px;
  object-fit: cover;
}
